:root{
    --shadow: rgba(14, 36, 49, 0.15);
    --img-color: hsl(223, 90%, 95%);

}
  
body{
	background-color: hsl(223, 90%, 95%);
}

.header {
    position: fixed;
    top: 1rem;
    left: 1rem;

}
.menu {
    opacity: 0.7;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-family: 'Gruppo';
    cursor: default;
}

a {
    text-decoration: none;
    /* opacity: 0.7; */
    font-family: 'Gruppo';
    color: black;   
}

a:hover {
    opacity: 0.5;
}

/* -- LOADER -- */

#loader {
    width: 27px;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -14px;
  }
  
  #loader b {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: black;
    margin: 2px;
  }

  .loader-hidden {
    opacity: 0;
    display: none;
}

/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.work{
    padding-top: 0;
}

.section{
    padding: 0;
    height: 100vh;
}

.skills__img {
    box-shadow: 0px 4px 25px var(--shadow);
    border-radius: .5rem;
    text-align: center;
    width: 100%;
    background-color: var(--img-color)
}

.skills__img img {
    transition: 1s;
    text-align: center;
    width: 175px;
    height: 175px;
}

.skills__img img:hover {
    transform: scale(1.1);
}

.skills__img h1{
    font-size: 200px;
    color: black;
}


@media screen and (min-width: 768px){
    .skills__container {
        row-gap: 0;
        column-gap: 1rem;
        justify-content: center;
        padding: 2rem;
    }

}

@media screen and (max-width: 420px){

    .skills__container {
        row-gap: 0;
        column-gap: 0;
        justify-content: center;
        padding: 2rem;
        grid-template-columns: repeat(3,3fr)
    }

    .skills__img {
        box-shadow: 0px 4px 25px var(--shadow);
        border-radius: .5rem;
        text-align: center;
        width: 100%;
        background-color: var(--img-color)
    }

    .skills__img img {
        transition: 1s;
        text-align: center;
        width: 100px;
        height: 100px;
    }
    
}


img, a {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

img, a {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
  

.bd-grid {
  max-width: 1024px;
  display: grid;
  justify-items: center;
  column-gap: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}


.section {
  padding: 2rem 0 4rem;
  height: 100vh;
}